body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('../../public/images/home_b (2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.form-container h1 {
    color: white;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #ff6347; /* Tomato color for the button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #e5533c; /* Darker shade on hover */
}

.form-container .signup-link {
    color: aquamarine;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}
